.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(15rem / 16) 0;
    border-top: 1px solid var(--grey);

}

.user-img-container {
    position: relative;
    border-radius: 50%;
    margin-bottom: calc(15rem/16);
}

.user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--purple);
    object-fit: cover;

}

.user-img-container::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 5px;
    right: 0;
    border-radius: 50%;
    background-color: var(--red);
    transition: background-color .3s ease-in-out;
}

.signed-in .user-img-container::after {
    background-color: var(--green);
}

.user-info {
    margin-bottom: calc(15rem/16);
    text-align: center;
}

.user-name {
    color: var(--purple);
}

@media (min-width: 576px) {
    .user {
        flex-direction: row;
    }

    .user-info {
        margin-right: auto;
        margin-bottom: 0;
        text-align: start;
    }

    .user-img-container {
        margin-bottom: 0;
        margin-right: calc(15rem / 16);
    }
  
  
  }
  