.btn {
    display: inline-block;
    min-width: calc(120rem / 16);
    padding: calc(5rem/16) calc(10rem/16);
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    transition: background-color .3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}

.btn.outline {
    background-color: transparent;
    color: var(--red);
}